/* FOOTER SECTION */
#footer-section{
    height: 10vh;
    background-color: #010109;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-section img{
    width: 1.75vw;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    filter: invert(100%) sepia(21%) saturate(1834%) hue-rotate(174deg) brightness(103%) contrast(101%);
}

#img-insta:hover{
    content: url(../img/filled/icons8-instagram.png);
}

#img-reddit:hover{
    content: url(../img/filled/icons8-reddit.png);
}

#img-twitter:hover{
    content: url(../img/filled/icons8-twitter.png);
}