#gallery-img-container{
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

#gallery-img-container button{
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

#gallery-img-container img{
    float: left;
    width: auto;
    height: 40vh;
}

#gallery-img-highlight{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gallery-img-highlight img{
    object-fit: contain;
}
