#gallery-img-container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

#gallery-img-container button{
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

#gallery-img-container img{
    float: inline-start;
    width: auto;
    height: 40vh;
}

/* IMG SELECTED */
#gallery-img-highlight{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gallery-img-highlight button{
    position: absolute;
    z-index: 11;
    background-color: transparent;
    border: 0;
    width: 100vw;
    height: 100%;
}

#gallery-img-highlight img{
    position: relative;
    z-index: 12;
    width: 40%;
}
