@font-face {
    font-family: abril-fatface;
    src: url('./fonts/abril-fatface/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: source-sans-pro-black;
    src: url('./fonts/source-sans-pro/SourceSansPro-Black.ttf');
  }

.bottom-project-card{
    position: relative;
    width: 30vw;
    height: 85vh;
    background-color: #FDFFFF;
    border: 0.25vh solid black;
    border-radius: 0.5vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 3px;
}

.project-card-title{
    width: 100%;
    height: 10%;
    border-bottom: 0.1vh solid black;
    border-radius: 0.25vh;
    font-family: abril-fatface;
    font-size: 5vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 3px;
}

.project-preview-img{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

.project-preview-img img{
    width: 80%;
    height: auto;
}

.project-card-info{
    width: 100%;
    height: auto;
}

.project-card-software{
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-software img{
    width: 12%;
    height: auto;
    margin-left: 1.65vw;
    margin-right: 1.65vw;
    filter: invert(22%) sepia(54%) saturate(3048%) hue-rotate(341deg) brightness(92%) contrast(100%);
}

.project-card-bttn{
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-bttn button{
    width: 80%;
    height: 7.5vh;
    font-family: source-sans-pro-black;
    color: #449341;
    font-size: 3vh;
    background-color: transparent;
    border: 0.15vh solid #449341;
    border-radius: 0.2vh;
}

.project-card-bttn button:hover{
    background-color: #449341;
    color: #FDFFFF;
    transition: 0.2s ease-in-out;
}

.project-card-software, .project-card-bttn{
    padding-top: 2vh;
}
